.gdb_history
3rdparty/bin
3rdparty/include
3rdparty/info
3rdparty/lib
3rdparty/libexec
3rdparty/man
3rdparty/share
3rdparty/src
testcases/*.tar.gz
testcases/*.tgz
testcases/models
testcases/testsuite
*.DS_Store
*.dSYM
*.d
*.log
*.o
*.parsetree
*.swp
*.vpi
*.valgrind
*~
VAMS-LRM-*.pdf
parsetree
vams
vams_keyword_lookup.gperf
vams_keyword_lookup.h
vams_parse.c
version.c
vpp_compiler_directive_lookup.h
vpp.c

